<div class="card-member">
    <img class="card-image" src="./assets/images/lead_guitar.jpg">
    <div class="card-name">John Smith</div>
    <div class="text-center">Lead guitar</div>
    <div class="p-4">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
  </div>
  <div class="card-member">
    <img class="card-image" src="./assets/images/rhythm_guitar.jpg">
    <div class="card-name">Papa Jones</div>
    <div class="text-center">Rhythm guitar</div>
    <div class="p-4">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
  </div>
  <div class="card-member">
    <img class="card-image" src="./assets/images/bass.jpg">
    <div class="card-name">Baloo Cat</div>
    <div class="text-center">Bass</div>
    <div class="p-4">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
  </div>
  <div class="card-member">
    <img class="card-image" src="./assets/images/drums.jpg">
    <div class="card-name">Jay Jayson</div>
    <div class="text-center">Drums</div>
    <div class="p-4">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
  </div>
  <div class="card-member">
    <img class="card-image" src="./assets/images/keyboard.jpg">
    <div class="card-name">Ale Argent</div>
    <div class="text-center">Keyboards</div>
    <div class="p-4">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
  </div>