<table class="table mb-12 w-1/2 mx-auto text-left">
    <caption class="py-2 text-gray-caption font-light text-center border border-black">Fechas del tour 2022</caption>
    <thead>
        <tr class="table-row">
            <th scope="col">Fecha</th> 
            <th scope="col">Ciudad</th> 
            <th scope="col">Recinto</th> 
        </tr>
    </thead>
    <tbody>
        <tr class="table-gray-row">
            <td>Dec 16</td>
            <td>Barcelona, Spain</td>
            <td>Palau Sant Jordi</td>
        </tr>
        <tr class="table-row">
            <td>Dec 17</td>
            <td>Barcelona, Spain</td>
            <td>Palau Sant Jordi</td>
        </tr>
        <tr class="table-gray-row">
            <td>Dec 19</td>
            <td>Madrid, Spain</td>
            <td>WiZink Center</td>
        </tr>
        <tr class="table-row">
            <td>Jan 5</td>
            <td>London, UK</td>
            <td>Wembley Stadium</td>
        </tr>
        <tr class="table-gray-row">
            <td>Jan 10</td>
            <td>Paris, France</td>
            <td>Stade de France Saint Denis</td>
        </tr>
       
    </tbody>
</table>